body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
  .table-responsive {
    margin: 30px 0;
    .table-wrapper {
      background: #fff;
      padding: 20px 25px;
      border-radius: 3px;
      min-width: 1000px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
      .table-title {        
        padding-bottom: 15px;
        background: #435d7d;
        color: #fff;
        padding: 16px 30px;
        min-width: 100%;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
        h2 {
          margin: 5px 0 0;
          font-size: 24px;
        }
        .btn-group {
          float: right;
        }
        .btn {
          color: #fff;
          float: right;
          font-size: 13px;
          border: none;
          min-width: 50px;
          border-radius: 2px;
          border: none;
          outline: none !important;
          margin-left: 10px;
          span {
            float: left;
            margin-top: 2px;
          }
        }
      }
    }
    .table {
      tr {
        th {
          border-color: #e9e9e9;
          padding: 12px 15px;
          vertical-align: middle;
        }
        td {
          border-color: #e9e9e9;
          padding: 12px 15px;
          vertical-align: middle;
        }
        td a {
          font-weight: bold;
          color: #566787;
          display: inline-block;
          text-decoration: none;
          outline: none !important;
        }
        td a:hover {
          color: #2196F3;
        }
        td a.edit {
          color: #FFC107;
        }
        td a.delete {
          color: #F44336;
        }
        th:first-child {
          width: 60px;
        }
        th:last-child {
          width: 100px;
        }
      }
      tr:nth-of-type(odd) {
        background-color: #fcfcfc;
      }
    }
    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }
}
}
.custom-table-wrapper {
  .edit {
   svg {
     font-size: 18px;
   }
  }
  .view {
    svg {
      font-size: 18px;
    }
  }
  .delete {
    svg {
      font-size: 16px;
    }
  }
}

